<a href="https://colab.research.google.com/github/JorgeSedek/tp1_orga_datos/blob/main/P18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

P18) Queremos saber quién de los 2 actores le gusta más a la gente, si Guillermo Francella o Ricardo Darin, para eso queremos saber quien tiene en promedio mejor vote_average en movies.csv.?

In [ ]:
df_peliculas = pd.read_csv('/content/drive/MyDrive/orgaDatos/Movie dataset/movies.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_actores = pd.read_csv('/content/drive/MyDrive/orgaDatos/Movie dataset/cast.csv')

In [ ]:
df_imdb_actores = pd.read_csv('/content/drive/MyDrive/orgaDatos/Movie dataset/imdb_actors.csv')

In [ ]:
df_peliculas['imdb_id']

0        tt0114709
1        tt0113497
2        tt0113228
3        tt0114885
4        tt0113041
           ...
45461    tt6209470
45462    tt2028550
45463    tt0303758
45464    tt0008536
45465    tt6980792
Name: imdb_id, Length: 45466, dtype: object

In [ ]:
idmbs_francella = df_imdb_actores[df_imdb_actores['primaryName'].map(lambda  x: x == 'Guillermo Francella')]
idmbs_francella['imdb_id']  = idmbs_francella['knownForTitles'].astype('string').apply(lambda x: x.split(','))
idmbs_francella = idmbs_francella.explode('imdb_id')
imdbs_francella_pelis = idmbs_francella[['primaryName','imdb_id']]
imdbs_francella_pelis

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
idmbs_darin = df_imdb_actores[df_imdb_actores['primaryName'].map(lambda  x: x == 'Ricardo Darín')]
idmbs_darin['imdb_id']  = idmbs_darin['knownForTitles'].astype('string').apply(lambda x: x.split(','))
idmbs_darin = idmbs_darin.explode('imdb_id')
imdbs_darin_pelis = idmbs_darin[['primaryName','imdb_id']]
imdbs_darin_pelis

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          primaryName    imdb_id
109891  Ricardo Darín  tt3754940
109891  Ricardo Darín  tt0247586
109891  Ricardo Darín  tt1305806
109891  Ricardo Darín  tt3011894

In [ ]:
actores_peliculas = df_actores[['id','name']]

In [ ]:
peliculas_francella = actores_peliculas[actores_peliculas['name'].map(lambda  x: x == 'Guillermo Francella')]

In [ ]:
peliculas_darin = actores_peliculas[actores_peliculas['name'].map(lambda  x: x == 'Ricardo Darín')]

In [ ]:
peliculas_darin['id'] = peliculas_darin['id'].astype('string')
peliculas_francella['id'] = peliculas_francella['id'].astype('string')
idmbs_rating = df_peliculas[['imdb_id','vote_average']]

In [ ]:
tabla_francella = pd.merge(peliculas_francella, peliculas_rating)
tabla_francella = pd.merge(tabla_francella, imdbs_francella_pelis, how = 'outer')
tabla_francella = tabla_francella[tabla_francella['vote_average'] > 0]
tabla_francella

       id                 name    imdb_id  vote_average          primaryName
0   25376  Guillermo Francella  tt1305806           7.8  Guillermo Francella
1    4786  Guillermo Francella  tt0405393           6.1                  NaN
2   68047  Guillermo Francella  tt1629736           6.0                  NaN
3  222772  Guillermo Francella  tt2948472           6.6                  NaN
4  265563  Guillermo Francella  tt3302594           6.3                  NaN
5  352161  Guillermo Francella  tt4411504           6.4  Guillermo Francella

In [ ]:
tabla_darin = pd.merge(peliculas_darin, peliculas_rating)
tabla_darin = pd.merge(tabla_darin, imdbs_francella_pelis, how = 'outer')
tabla_darin = tabla_darin[tabla_darin['vote_average'] > 0]
tabla_darin

        id           name    imdb_id  vote_average          primaryName
0    18079  Ricardo Darín  tt0247586           7.4                  NaN
1    19460  Ricardo Darín  tt0292542           7.3                  NaN
2    13653  Ricardo Darín  tt0420509           6.9                  NaN
3    57977  Ricardo Darín  tt0347449           6.6                  NaN
4    28710  Ricardo Darín  tt0320042           6.3                  NaN
5    11148  Ricardo Darín  tt0995829           6.9                  NaN
6    25376  Ricardo Darín  tt1305806           7.8  Guillermo Francella
7    47261  Ricardo Darín  tt1542852           6.5                  NaN
8    67884  Ricardo Darín  tt1705786           7.1                  NaN
9    44516  Ricardo Darín  tt0210843           6.5                  NaN
10  127702  Ricardo Darín  tt0906777           6.3                  NaN
11  265195  Ricardo Darín  tt3011894           7.7                  NaN
12  167963  Ricardo Darín  tt2241605           6.1                  NaN
13  214761  Ricardo Darín  tt2403961           5.8                  NaN
14  110393  Ricardo Darín  tt2132324           6.2                  NaN
15  254869  Ricardo Darín  tt3321428           5.2                  NaN
16  139808  Ricardo Darín  tt1945034           6.5                  NaN
17   86154  Ricardo Darín  tt0281870           4.3                  NaN
18  341744  Ricardo Darín  tt3754940           7.0                  NaN
19   64462  Ricardo Darín  tt0293567           6.0                  NaN
20   65795  Ricardo Darín  tt0485634           6.8                  NaN
21  161024  Ricardo Darín  tt1160004           4.5                  NaN
22   35411  Ricardo Darín  tt1243375           5.5                  NaN
23  222030  Ricardo Darín  tt2377398           7.5                  NaN
24  391617  Ricardo Darín  tt5462400           6.3                  NaN
25  357155  Ricardo Darín  tt3778394           5.5                  NaN
26  425942  Ricardo Darín  tt5614612           6.0                  NaN

In [ ]:
darin_media = tabla_darin.groupby('name').mean()
darin_media

               vote_average
name
Ricardo Darín      6.388889

In [ ]:
francella_media = tabla_francella.groupby('name').mean()
francella_media

                     vote_average
name
Guillermo Francella      6.533333

In [ ]:
pd.concat([francella_media,darin_media])

                     vote_average
name
Guillermo Francella      6.533333
Ricardo Darín            6.388889

Francella tiene mayor promedio.